
@{
    ViewData["Title"] = "Erro";
}
<h1 class="text-danger text-center">Sem registros</h1>
<h2 class="text-danger text-center">Não foi possivel encontrar nenhuma matrícula.</h2>
<div class="text-center">

    <p>
        <strong>E-Mail Institucional não encontrado</strong>
        Verifique seu <strong>e-mail institucional</strong> cadastrado no seu login.
    </p>
    <p>
        <a class="btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Editar perfil</a>
    </p>
</div>

