@{
    ViewData["Title"] = "Confirmação de reenvio de email";
}

<h1>@ViewBag.Title</h1>

<p>
    Por favor, verifique seu e-mail para confirmar sua conta.
</p>
<p>
    Foi enviado um email em nome de <strong>Etec Taubaté</strong> com assunto <strong>Confirme seu email</strong>.
</p>
<p>
    Obs.: Verifique na caixa de entrada em <strong>Outros</strong> e em <strong>Lixo Eletrônico</strong>
</p>
