@model AvaliacaoDesempenho.Models.Questionario

@{
    ViewData["Title"] = "Detalhes da Questão";
}

<h1>Detalhes da Questão</h1>

<div>
    <h4>Questionario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.Codigo">Editar</a> |
    <a class="btn btn-outline-primary" asp-action="Index">Voltar para Lista</a>
</div>
