@{
    ViewData["Title"] = "Avaliação de Satisfação TCC";
}

<div class="text-center">
    <h1>Bem Vindo ao sistema de Avaliação de Satisfação TCC.</h1>
    <a target="_blank" href="http://etectaubate.com.br/"><img src="~/imagens/Etec.png" class="rounded mx-auto d-block" alt="Logotipo Etec Taubaté"></a>
    <p>Sua participação é muito importante para que possamos aprimorar nosso sistema de ensino aprendizagem.</p>
    <p>Qualquer dúvida ou problema, entrar em contato com Diego Ortega através do e-mail <strong>e125ti@cps.sp.gov.br</strong> ou com o coordenador de seu curso.</p>
    <div class="embed-responsive embed-responsive-16by9 text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/f1FnQgfZVk4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
