@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<h2>DECLARAÇÃO DE POLÍTICA DE PRIVACIDADE</h2>

<p>
    A Etec Taubaté leva sua privacidade a sério e esta declaração mostra como nós coletamos, usamos e processamos
    suas informações.
</p>

<h3>Recolhimento e Uso de Dados Pessoais</h3>
<p>
    Dados pessoais são informações que podem ser direta ou indiretamente usadas para identificá-lo. Dados pessoais
    também incluem dados anônimos que podem ser usadas para diretamente ou indiretamente identifica-lo.
    Dados pessoais não incluem dados que são irreversivelmente anônimos ou agregados de forma que não nos
    possibilita, mesmo combinado com outras informações, identificar você.
</p>

<h3>Promovendo a segurança</h3>
<p>
    Respeitamos os princípios de legalidade, legitimidade e transparência, utilizamos e processamos o mínimo de dados dentro de um escopo de propósito limitado e tomamos medidas técnicas e administrativas para proteger a segurança dos dados. Usamos dados pessoais para ajudar a verificar as contas e a atividade do usuário, bem como para promover segurança e proteção, por exemplo, monitorando fraudes e investigando atividades suspeitas ou potencialmente ilegais ou violações de nossos termos ou políticas. Esse processamento é baseado em nosso interesse legítimo em ajudar a garantir a segurança de nossos produtos e serviços.
</p>

<h3>Quais dados pessoais coletamos</h3>

<h4>Dados que você fornece:</h4>
<p>
    Coletamos os dados pessoais que você fornece quando cria uma conta para realizar a avaliação de satisfação da Etec Taubaté.
</p>

<h4>Dados sobre o uso de nossos serviços e produtos:</h4>
<p>
    Quando você visita nossos sites, podemos coletar dados sobre o tipo de dispositivo que você usa, o identificador exclusivo do seu dispositivo, o endereço IP do seu dispositivo, seu sistema operacional, o tipo de navegador da Internet usado, informações de uso, informações de diagnóstico e informações de localização de ou sobre os computadores, telefones ou outros dispositivos nos quais você instala ou acessa nossos produtos ou serviços. Quando disponíveis, nossos serviços podem usar o GPS, seu endereço IP e outras tecnologias para determinar a localização aproximada de um dispositivo para nos permitir melhorar nossos produtos e serviços.
</p>

<h3>Como usamos seus dados pessoais</h3>
<p>
    Em geral, usamos dados pessoais para fornecer, melhorar e desenvolver nosso sistema de avaliação de desempenho, que tem por objetivo aprimorar o ensino aprendizagem.
</p>

<h3> Definição de "Cookies"</h3>
<p>
    Cookies são pequenos pedaços de código usados para armazenar informações em navegadores da web. Os cookies são amplamente usados para armazenar e receber identificadores e outras informações em computadores, telefones e outros dispositivos. Também usamos outras tecnologias, incluindo dados que armazenamos em seu navegador ou dispositivo da Web, identificadores associados ao seu dispositivo e outros softwares, para fins semelhantes. Nesta declaração de cookies, nos referimos a todas essas tecnologias como "cookies".
</p>

<h4>Uso de Cookies</h4>
<p>
    Usamos cookies para fornecer, proteger e melhorar nossos produtos e serviços, por exemplo, personalizando conteúdo, oferecendo e medindo anúncios, entendendo o comportamento do usuário e proporcionando uma experiência mais segura. Por favor, note que os cookies específicos que podemos usar variam dependendo dos sites e serviços específicos que você usa.
    Divulgação de dados pessoais
    Não divulgamos seus dados pessoas para nenhuma empresa, utilizamos seus dados apenas para nosso sistema.
</p>

<h3>Divulgação de dados ou armazenamento, transferência e processamento</h3>
<h4>Cumprimento de obrigações legais:</h4>
<p>
    Devido às leis obrigatórias do Espaço Econômico Europeu ou do país em que o usuário vive, certos atos legais existem ou já ocorreram e certas obrigações legais precisam ser cumpridas. Tratamento de dados pessoais de residentes da EEA --- Conforme descrito abaixo, se você residir na Área Econômica Europeia (EEA), nosso processamento de seus dados pessoais será legitimado: Sempre que solicitarmos seu consentimento para o processamento de seus dados pessoais, tal processamento será justificada nos termos do artigo 6.º, n.º 1, do Regulamento Geral de Proteção de Dados (UE) ("GDPR").
    Conformidade Legal e Segurança ou Proteger Outros Direitos
    Pode ser necessário - por lei, processo legal, litígio e / ou solicitações de autoridades públicas e governamentais dentro ou fora do seu país de residência - para que divulguemos dados pessoais. Também podemos divulgar dados pessoais se determinarmos que, para fins de segurança nacional, aplicação da lei ou outras questões de importância pública, a divulgação é necessária ou apropriada.
</p>
<h3>Seus direitos</h3>
<p>
    Tomamos medidas razoáveis para garantir que seus dados pessoais sejam precisos, completos e atualizados. Você tem o direito de acessar, corrigir ou excluir os dados pessoais que coletamos. Você também tem o direito de restringir ou objetar, a qualquer momento, o processamento adicional de seus dados pessoais. Você tem o direito de receber seus dados pessoais em um formato estruturado e padrão. Você pode apresentar uma queixa à autoridade competente de proteção de dados com relação ao processamento de seus dados pessoais. Para proteger a privacidade e a segurança de seus dados pessoais, podemos solicitar dados de você para nos permitir confirmar sua identidade e direito de acessar esses dados, bem como procurar e fornecer os dados pessoais que mantemos. Há casos em que as leis aplicáveis ou os requisitos regulamentares permitem ou exigem que nos recusemos a fornecer ou excluir alguns ou todos os dados pessoais que mantemos. Você pode entrar em contato conosco para exercer seus direitos. Responderemos a sua solicitação em um prazo razoável e, em qualquer caso, em menos de 30 dias.
</p>

<h3>Segurança de Dados, Integridade e Retenção</h3>
<p>
    Utilizamos medidas razoáveis de segurança técnica, projetadas para salvaguardar e ajudar a impedir o acesso não autorizado aos seus dados, e para usar corretamente os dados que coletamos. Nós manteremos seus dados pessoais pelo tempo de um ano para cumprir os propósitos descritos nesta Declaração de Privacidade, a menos que um período de retenção mais longo seja exigido ou permitido por lei.
</p>

<h3>Alterações a esta declaração de privacidade</h3>
<p>
    Podemos alterar periodicamente esta Declaração de Privacidade para acompanhar as novas tecnologias, as práticas do setor e os requisitos regulamentares, entre outras razões. Seu uso continuado de nossos produtos e serviços após a data efetiva da Declaração de Privacidade significa que você aceita a Declaração de Privacidade revisada.
    Se você não concordar com a Declaração de Privacidade revisada, por favor, evite usar nossos produtos ou serviços e entre em contato conosco para fechar qualquer conta que você tenha criado.
</p>
<p>
    Se você tem qualquer dúvida ou pergunta a respeito da nossa política de privacidade, entre em contato com Diego Ortega, auxiliar Docente de Informática através do e-mail e125ti@cps.sp.gov.br, ou com o coordenador pedagogico David Amourin através do e-mail e125.pedagogico@etec.sp.gov.br.
</p>

